.main__footer {
  background-color: #000;
  color: white; }
  .main__footer .contacts {
    text-align: center; }
    .main__footer .contacts h4 {
      padding-top: 15px;
      margin-bottom: 20px; }
    .main__footer .contacts a {
      color: white;
      position: relative;
      font-size: 12px; }
    .main__footer .contacts div {
      margin-bottom: 10px; }
  .main__footer .text {
    text-align: center;
    font-size: 14px;
    margin-top: 20px; }
